*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

header{
    position: fixed;
    width: 100%;
    border-bottom:1px solid black;
    z-index: 1;
}
body{
    overflow-x: hidden;
}
.one{
    background-color: #f0f2fe;
    padding-top: 10%;
}
 .hr{
    color: gold;
 }
.card:hover{
    color:white;
    background-color: navy;
    cursor: pointer;
}
.four{
    background-color:#e5ebfb;
}